name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      solr:
        image: solr:8
        ports:
          - 8983:8983
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Provision Solr
      run: |
       cargo install cargo-run-script
       cargo run-script solr-provision
    - name: Run tests
      run: cargo test --verbose
